<meta charset="UTF-8">
<script>
    function pulaLinha() {
        document.write("<br>");

    }


    function mostra(frase) {
        document.write(frase);
        pulaLinha();

    }


    var vitorias = parseInt(prompt("Entre com o numero de vitorias"));
    var empates = parseInt(prompt("Entre com o numero de empates"));

    var pontos = (vitorias * 3) + empates;

    mostra(pontos);


    if (pontos > 28) {
        document.write("Seu time esta melhor que o ano passado");
    }
    if (pontos < 28) {
        document.write("Seu time esta pior que o ano passado");
    }
    if (pontos == 28) {
        document.write("Seu time esta igual que o ano passado");
    }

</script>