<meta charset="UTF-8">
<title>Geração Brasil</title>

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var idadeMediaQuandoTemFilhos = 28;
    var anoAtual = 2016; //

    var quantidadeDeGeracoes = (anoAtual - 1500) / idadeMediaQuandoTemFilhos;

    mostra(Math.round(quantidadeDeGeracoes));
</script>