<meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }
    var flavio = 39;
    var idadeJoaquim = 20;
    var idadeBarney = 41;
    document.write("Flávio nasceu em " + (2017 - 1977));
    pulaLinha();
    document.write("Joaquim nasceu em " + (2017 - 1996));
    pulaLinha();
    document.write("Barney nasceu em " + (2017 - 1996));

    var media = (flavio + idadeBarney + idadeJoaquim) / 3;


    document.write("A media das Idades é: " + Math.round(media));




</script>