<meta charset="UTF-8">
<title>Inseri texto</title>

<input/>
<button>Mostra o texto</button>

<script>
    // programa que aceita a inserção de textos.-->
    var input = document.querySelector("input");

    function mostraTexto() {
        alert(input.value);
    }

    var button = document.querySelector("button");
    button.onclick = mostraTexto;
</script>