<meta charset="UTF-8">
<script>
    function pulaLinha() {
        document.write("<br>");

    }


    function mostra(frase) {
        document.write(frase);
        pulaLinha();

    }

    var numeroPensado = Math.round(Math.random() * 15009);
    console.log(numeroPensado);


    var tentativas = 3;
    while (tentativas <= 3) {
        var chute = parseInt(prompt("Digite seu chute"));

        if (chute == numeroPensado) {
            mostra("Voce acertou, o numero pensado era", numeroPensado);
            break;
        } else {
            mostra("Voce errou, ainda possui " + tentativas + " tentativas");
        }
        tentativas++;
    }
    mostra("fim");
</script>



