<meta charset="UTF-8">
<input/>
<button>Compare isso</button>
<script>
    var segredo = 5;
    var input = document.querySelector("input");

    function verifica() {

        if (input.value==segredo) {
            alert("Voce acertou");
        } else {
            alert("Voce errou");
        }

    }

    var button = document.querySelector("button");
    button.onclick = verifica;

</script>
