<meta charset="UTF-8">
<h1>meu primeiro teste!</h1>
<br>
Sera isso um programa? Descubra visitando o Alura <a href="https://alura.com.br">Aqui</a>

<script>
    alert("Isso sim é um programa");
</script>