<meta charset="UTF-8">

<script>
    var n = 1;
    var minha_idade = 27;
    document.write('o resultado da formula é: ' + n * (10 / 20));


    document.write("<br> Eu nasci em : " + (2017 - minha_idade));




    var IDADE1 = 10;
    var IDADE2 = "20";
    var IDADE3 = 12;

    document.write("A média das idades é <br>");
    document.write( (IDADE1 + IDADE2 + IDADE3) / 3);
</script>